@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
  @apply text-gunmetal;
}

::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 13px;
}

.text-lg {
  font-size: 15px;
}

.text-2xl {
  font-size: 24px;
}

.text-xs {
  font-size: 11px;
}

@layer components {
  .btn {
    @apply cursor-pointer p-2 rounded-3xl border w-full text-center;
  }
  .btn-primary {
    @apply cursor-pointer p-2 rounded-3xl text-white bg-primary w-full text-center;
  }
  .text-sub {
    @apply text-xs text-dark-silver;
  }
  .tab.is-active {
    @apply text-primary border-b border-b-primary;
  }
}
